*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #0f0f0f;
}
.content{
	width: 100%;
	height: 100vh;
	padding: 25px;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/olympus.jpg");
	background-repeat: no-repeat;
	background-size: auto;
  }
  .logo{
	width: 80px;
	cursor: pointer;
	object-fit: scale-down;
  }
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Times New Roman', Times, serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo {
	float: left;
	width: 30%;
	height: 100%;
	display: flex;
    align-items: center;
	font-size: 23px;
	color: #fff;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover{
    color: red ;
  }
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
    nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
#home{
	display: flex;
	flex-direction: column;
}
#home::before{
	content:"";
	position: absolute;
	top: 0;
	right: 0;
}
.txt{
    margin-left: 8%;
    margin-top: 13%;
  }
  .txt h1{
    font-size: 35px;
    color: #EFDECD;
    margin-bottom: 15px;
  }	
  
  span{
    color: #9a7b4f;
  }
  .stroke-span{
	color:#212121;
  }
  .txt p{
    color: #fff;
    line-height: 30px;
  }
  
  .txt a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .txt a:hover{
    background-color: antiquewhite;
    color: black;
    transform:scale(1,1)
  }
  .images{
    width: 20%;
    height: 80vh;
    bottom: 0;
    right: 100px;
  }
  
  .images img{
    transition: bottom 1s, left 1s;
    transform: translateX(-50%);
    left: 70%;
    bottom: 0;
    height: 70%;
    position:absolute; 
	object-fit: scale-down;
  }
  @media only screen and (max-width: 900px) {
	  
	.txt{
		flex-direction: column;
		align-items: center;
		width: 70%;
	}
	.txt h1{
		padding-top: 2rem;
		width: 100%;
		font-size: 35px;
	}
	.txt p{
		font-size: 10px;
		width: 100%;
	}
	.stat{
		width: 50%;
		font-size: 10px;
	}
}
#intro{
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	margin-bottom: 20px;

}
#intro::before{
	content:"";
	position: absolute;
	top: 0;
	right: 0;
}
  .wrapper{
	display: flex;
	padding: 3rem 0;
	width: 100%;
	justify-content: space-evenly;
	background: #0f0f0f;
	height: 100vh;
}
.wrapper-img{
	width: 300px;
	height: 300px;
	margin: 0 2rem;
}
.wrapper-img img{
	height: 110%;
	width: 130%;
	margin-top: 120px;
	
}
.wrapper-info{
	margin-top: 100px;
	color: #fff;
	width: 450px;
	height: 450px;
	padding-left: 2rem;
	margin: 0 3rem;
}
.wrapper-info h1{
	font-size: 45px;
	margin-top: 100px;
}
.wrapper-info p{
	margin-top: 2rem;
	font-size: 15px;
	opacity: 7;
	line-height: 210%;
}

@media only screen and (max-width: 1200px) {
	.wrapper{
		flex-direction: column;
		align-items: center;
	}
	.wrapper-img{
		width: 80%;
		margin-right: 35%;
		
		
	}
	.wrapper-info{
		width: 100%;
		height: 100%;
		
		border-left: none;
		padding: 1rem;
		margin-top: 2rem;
	}
	.wrapper-info h1{
		width: 40%;
	}
    .wrapper-info p{
		font-size: 12px;
	}
}
.container{
    background:linear-gradient(45deg, grey, black);
    padding:15px 9%;
    padding-bottom: 100px;
	
}

.container .heading{
	margin-top: 80px;
    text-align: center;
    padding-bottom: 50px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
	padding-top: 50px;

}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgb(0, 0, 0);
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 300px;
}

.container .box-container .box h3{
    color:#fff;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
	font-weight: bold;
    border-radius: 5px;
    padding: 8px 25px;
	bottom: 15px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

.about-sec{
	width: 100%;
	height: 100vh;
	padding: 25px;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("Olympus.jpg");
	background-repeat: no-repeat;
	background-size: auto;
  }
.about-sec .about-txt{
	text-align: center;
    margin-top: 13%;
  }
.about-sec .about-txt h1{
    font-size: 40px;
    color: black;
    margin-bottom: 15px;
  }	
  .about{
	width: 100%;
	height: 100vh;
	padding: 25px;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("images/wall.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  }

.about h1{
  font-family: 'times new roman';
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  margin-top:10%;
  color: white;
}
.about h2{
	font-family: 'times new roman';
	font-size: 45px;
	margin-bottom: 60px;
	text-align: center;
	margin-top:5%;
	color: white;
  }

.team{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: rgb(85, 84, 84);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #d1cccc;  
  position: relative;
}

.team .team_member h3{
  color: rgb(214, 208, 208);
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: rgb(196, 188, 188);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

.team a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 25px;
    cursor: pointer;
  }
  
.team a:hover{
    background-color: black;
    color: white;
    transform:scale(1,1)
  }

  @media (max-width:768px){
    .about h1{
        padding:3rem;
    }
}
