*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', san-serif;
}
.content{
	width: 100%;
	height: 100vh;
	padding: 25px;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("Olympus.jpg");
	background-repeat: no-repeat;
	background-size: auto;
  }
  .logo{
	width: 80px;
	cursor: pointer;
	object-fit: scale-down;
  }
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Times New Roman', Times, serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo {
	float: left;
	width: 30%;
	height: 100%;
	display: flex;
    align-items: center;
	font-size: 23px;
	color: #fff;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover{
    color: red ;
  }
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
    nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
.home{
    display: flex;
    flex-direction: column;
}
.home::before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
}
.txt{
    margin-left: 8%;
    margin-top: 13%;
  }
  .txt h1{
    font-size: 40px;
    color: #EFDECD;
    margin-bottom: 15px;
  }
  
  span{
    color: #9a7b4f;
  }
  .stroke-span{
	color:#9a7b4f;
  }
  .txt p{
    color: #fff;
    line-height: 30px;
  }
  
  .txt a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .txt a:hover{
    background-color: antiquewhite;
    color: black;
    transform:scale(1,1)
  }
  
  .images{
    width: 45%;
    height: 80;
    bottom: 0;
    right: 100px;
  }
  
  .images img{
    transition: bottom 1s, left 1s;
    transform: translateX(-50%);
    left: 80%;
    bottom: 0;
    height: 70%;
    position:absolute; 
	object-fit: scale-down;
  }
@media only screen and (max-width: 900px){
	.txt{
	flex-direction: column;
	align-items: center;
	width: 70%;
	}

}
  .about-sec{
	display: flex;
	padding: 4rem 0;
	width: 100%;
	height: 400vh;
	justify-content: center;
	background: #9a7b4f;
}
.about-img{
	width: 550px;
	height: 190px;
	margin: 0 3rem;
}
.about-img img{
	height: 100%;
	width: 100%;
}
.about-intro{
	color: #fff;
	width: 2400px;
	height: 2560px;
	border-left: 2px solid white;
	padding-left: 2rem;
	margin: 0 3rem;
}
.about-intro h1{
  text-align: center;
}
.about-intro p{
	margin-top: 1rem;
	font-size: 17px;
}
@media only screen and (max-width: 900px) {
	.about-sec{
		flex-direction: column;
		align-items: center;
	}
	.about-img{
		width: 50%;
	}
	.about-intro{
		width: 100%;
		height: 100%;
		border-top: 3px solid #00b894;
		border-left: none;
		padding: 1rem;
		margin-top: 2rem;
	}
	.about-intro h1,p{
		width: 80%;
	}
	.about-intro p{
		font-size: 12px;
	}
	
}
